<script type="text/javascript">
$(document).ready(function()
{
var URLParser = function (url) {
    this.url = url || window.location.href;
    this.urlObject = this.parse(); 
};

URLParser.prototype = {
    constructor : URLParser,
    
    parse : function (url) {
        var tempArr,
            item,
            i,
            returnObj = {};
        this.url = url || this.url;
        tempArr = this.url.split("?");
        returnObj.baseURL = tempArr[0];
        returnObj.params = {};
        if (tempArr.length > 1) {
            returnObj.queryString = tempArr[1];
            tempArr = tempArr[1].split("&");
            for (i = 0; i < tempArr.length; i++) {
                item = tempArr[i].split("=");
                returnObj.params[item[0]] = item[1];    
            }
        } else {
            returnObj.queryString = "";
        }
        
        return returnObj;
    },
    
    toString : function () {
        var strURL = this.urlObject.baseURL + "?",
            paramObj = this.urlObject.params,
            prop;
        for (prop in paramObj) {
            if (paramObj.hasOwnProperty(prop)) {
                strURL += prop + "=" + paramObj[prop] + "&";
            }
         }
        return strURL.substr(0, strURL.length - 1);
    },
    
    removeParams : function (removeArray) {
        var paramObj = this.urlObject.params,
            key,
            i;
        if (removeArray instanceof Array) {
            for (i = 0; i < removeArray.length; i++) {
                key = removeArray[i];
                if (paramObj.hasOwnProperty(key)) {
                    delete paramObj[key];
                }
            }
        }
    },
    
    addParams : function (paramObj) {
        var params = this.urlObject.params,
            key;
        if (typeof paramObj === "object") {
            for (key in paramObj) {
                if (paramObj.hasOwnProperty(key)) {
                    params[key] = paramObj[key];
                }
            }
        }
    }
};

var up = new URLParser();
var urlObj = up.parse(window.location.href);
var soksid=urlObj.params['soksid'];
var utm_source=urlObj.params['utm_source'];
var utm_campaign=urlObj.params['utm_campaign'];
var Soksid = document.getElementById("soksid");
Soksid.value = urlObj.params['soksid'];
var Utmsource = document.getElementById("utmsource");
utmsource.value = urlObj.params['utm_source'];
var Utmcampign = document.getElementById("utmcampaign");
utmcampaign.value = urlObj.params['utm_campaign'];
});

</script>

<style type="text/css"> 
.navbar{display:none;}
</style>

<div class="row">
 <div class="container">

  <div class="span12" >
  <div class="wrap_box">

  <h1 style="text-align:center;color:#ddd;">Your Gateway to a management career in Analytics</h1>
  <div style="background:url('/assets/top_bg.png');float:left;width:100%;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 1px 2px 10px 2px #ddd;">
<table><tr><td style="padding:55px;">
  <%= image_tag('gllogo.png',:width=>"360", :height=>"130") %>
</td>
<td style="padding:55px;font-size:18px;">
  <h1>Post Graduate Program in Business Analytics @ Greatlakes Delhi</h1>
  <b>11-month</b> blended program (classroom + online) designed for <b>working professionals</b>
</td></tr></table>
  </div>
    <div style="background:url('/assets/banner_bg.png');float:left;width:100%;background-size: 100% 100%;background-repeat: no-repeat;width: 104%;height: 365px;margin-left: -18px;box-shadow: 0px 5px 8px 5px #333;margin-bottom: 15px;">
<table style="width: 100%;">
   <%= image_tag('corner_ribbon.png',:style=>"float:left;position: absolute;margin-left: -0.85%;
margin-top: -.5%;") %>


  <tr><td style="text-align: right;">
      <%= image_tag('info_banr.png') %>
</td>
<td >
  <div style="margin-top:20px;margin-left: 50px;background:url('/assets/form_bg.png');width:450px;height:332px;">
    <div id='crmWebToEntityForm' align=center>
    <META HTTP-EQUIV ='content-type' CONTENT='text/html;charset = UTF-8'>  
  <form action='https://crm.zoho.com/crm/WebToLeadForm' name='WebToLeads788461000000067005' method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatery()' 
  accept-charset='UTF-8' ><table border=0 cellspacing=0 cellpadding=5 
  width=250 style='float:right;margin: 100px 0px 0px 0px;'>  <input type='text' 
  style='display:none;' name='xnQsjsdp' value='SxGdQuLItuBthYo@kRl79w$$'/> 
  <input type='hidden' name='zc_gad' 
  id='zc_gad' value=''/>  <input type='text' style='display:none;' 
  name='xmIwtLD' value='mJKTOQCzg8feKQxKK0wA4HYDTxR5kYBU'/>  
  <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='/> 
  <input type='text' style='display:none;' name='returnURL' value='http://pgpba.greatlakes.edu.in/' /> 
  <tr><td colspan='2' align='left' 
style='font-size:22px;font-style:italic;display:none;'><strong>Free instant access</strong></td></tr>
  <tr><td nowrap style='font-family:sans-serif;font-size:12px;display:none;font-weight:bold' align='right' width='1%' >Last Name &nbsp;&nbsp;:</td><td 
  width='75%'><input type='text' maxlength='80' name='Last Name' placeholder="Name*" /> 
  </td></tr><tr><td width='75%'><input 
  type='text' maxlength='100' name='Email' placeholder="Email*"/> </td></tr><tr><td width='75%'><input 
  type='text' maxlength='30' name='Phone' placeholder="Phone*" /> </td></tr>
<tr><td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold;display:none;' align='right' width='25%'>UTM Source &nbsp;&nbsp;</td><td width='75%'><input type='hidden' maxlength='55' id="utmsource" name='LEADCF1' /> </td></tr><tr><td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold;display:none;' align='right' width='25%'>SOKSID &nbsp;&nbsp;:</td><td width='75%'>
<input type='hidden' maxlength='55' name='LEADCF3' id="soksid" /> </td></tr>
<tr><td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold;display:none;' align='right' width='25%'>UTM_Campaign &nbsp;&nbsp;:</td><td width='75%'>
  <input type='hidden' maxlength='55' name='LEADCF5' id="utmcampaign" /> </td></tr> 
<tr><td nowrap='nowrap' align='left'  style='font-size:12px;font-family:Arial;width:200px;display:none;'>Naukri Group </td><td style='width:250px;' ><input type='hidden' style='width:250px;' value=" <%= request.fullpath() %>"  maxlength='56' name='LEADCF4' /></div> </td></tr><tr>
  <tr><td  
  align=center> <input type='submit' name='save' value="Get It Now " onclick="try{ _sokrati_registration(); }catch(err){}" style="background: #2a478d;font-size: 20px;color: #fff;border: none;">  </td></tr></table>
  <script> var mndFileds=new Array('Last Name');var fldLangVal=new Array('Last Name');function 
  checkMandatery(){for(i=0;i<mndFileds.length;i++){ var 
  fieldObj=document.forms['WebToLeads788461000000067005'][mndFileds[i]];if(fieldObj) 
  {if(((fieldObj.value).replace(/^\s+|\s+$/g, 
  '')).length==0){alert(fldLangVal[i] +' cannot be empty'); 
  fieldObj.focus(); return false;}else 
  if(fieldObj.nodeName=='SELECT'){if(fieldObj.options[fieldObj.selectedIndex].value=='-None-'){alert(fldLangVal[i] 
  +' cannot be none'); fieldObj.focus(); return false;}}else { window.open("/download_pdf_pgpba");}}}}</script>  
  </form></div>
</div>
</td></tr></table>
  </div>
  <h1 style="text-align:center;font-weight: normal;">About the Program</h1>
  <div style="float:left;width:100%;text-align: center;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 1px 2px 10px 2px #ddd;">
          <%= image_tag('about_pgrogram.png', :style=>"width:100%;") %>
</div>
   <div style="float:left;width:97%;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 1px 2px 10px 2px #ddd;padding: 20px;">

<table cellpadding="5" style="font-size:16px;"><tr><td><h4>CONTACT US</h4></td><td><i class="icon " style="margin-top: 0px;margin-right: 0px;">      <%= image_tag('tel.png', :width=>"15") %>
  </i><b>Tel</b>:</td><td> 87506-48238</td>
<td><i class="icon icon-envelope" style="margin-top: 4px;margin-right: 2px;"></i><b>Email</b>:</td><td> <a href="mailto:pgpba@greatlakes.edu.in" target="_top">pgpba@greatlakes.edu.in</a></td>
<td><i class="icon " style="margin-top: 0px;margin-right: 2px;">
<%= image_tag('mouse.png', :width=>"15") %>
</i><b>Web</b>:</td><td><a href="/" style="color:#000;">pgpba.greatlakes.edu.in</a></td></tr></table>
  </div>
  </div>
  </div>
  </div>
  </div>

  

