<!-- <div class="row">
 <div class="container">

  <div class="span12" >
  <div class="wrap_box">

  <h1 style="text-align:center;color:#ddd;">Your Gateway to a management career in Analytics</h1>
  <div style="background:url('/assets/top_bg.png');float:left;width:100%;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 1px 2px 10px 2px #ddd;">
<table><tr><td style="padding:55px;">
  <%#= image_tag('gllogo.png',:width=>"360", :height=>"130") %>
</td>
<td style="padding:55px;font-size:18px;">
  <h1>Post Graduate Program in Business Analytics @ Greatlakes Delhi</h1>
  <b>11-month</b> blended program (classroom + online) designed for <b>working professionals</b>
</td></tr></table>
  </div>
    <div style="background:url('/assets/banner_bg.png');float:left;width:100%;background-size: 100% 100%;background-repeat: no-repeat;width: 104%;height: 365px;margin-left: -18px;box-shadow: 0px 5px 8px 5px #333;margin-bottom: 15px;">
<table style="width: 100%;">
   <%#= image_tag('corner_ribbon.png',:style=>"float:left;position: absolute;margin-left: -0.85%;
margin-top: -.5%;") %>


  <tr><td style="text-align: right;">
      <%#= image_tag('info_banr.png') %>
</td>
<td >
  <div style="margin-top:20px;margin-left: 50px;background:url('/assets/form_bg.png');width:450px;height:332px;">
    <div id='crmWebToEntityForm' align=center>
    <META HTTP-EQUIV ='content-type' CONTENT='text/html;charset = UTF-8'>  
  <form action='https://crm.zoho.com/crm/WebToLeadForm' name='WebToLeads788461000000067005' method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatery()' 
  accept-charset='UTF-8' ><table border=0 cellspacing=0 cellpadding=5 
  width=250 style='float:right;margin: 100px 0px 0px 0px;'>  <input type='text' 
  style='display:none;' name='xnQsjsdp' value='SxGdQuLItuBthYo@kRl79w$$'/> 
  <input type='hidden' name='zc_gad' 
  id='zc_gad' value=''/>  <input type='text' style='display:none;' 
  name='xmIwtLD' value='mJKTOQCzg8feKQxKK0wA4HYDTxR5kYBU'/>  
  <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='/> 
  <input type='text' style='display:none;' name='returnURL' value='http://pgpba.greatlakes.edu.in/' /> 
  <tr><td colspan='2' align='left' 
style='font-size:22px;font-style:italic;display:none;'><strong>Free instant access</strong></td></tr>
  <tr><td nowrap style='font-family:sans-serif;font-size:12px;display:none;font-weight:bold' align='right' width='1%' >Last Name &nbsp;&nbsp;:</td><td 
  width='75%'><input type='text' maxlength='80' name='Last Name' placeholder="Name*" /> 
  </td></tr><tr><td width='75%'><input 
  type='text' maxlength='100' name='Email' placeholder="Email*"/> </td></tr><tr><td width='75%'><input 
  type='text' maxlength='30' name='Phone' placeholder="Phone*" /> </td></tr>
<tr><td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold;display:none;' align='right' width='25%'>UTM Source &nbsp;&nbsp;</td><td width='75%'><input type='hidden' maxlength='55' id="utmsource" name='LEADCF1' /> </td></tr><tr><td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold;display:none;' align='right' width='25%'>SOKSID &nbsp;&nbsp;:</td><td width='75%'>
<input type='hidden' maxlength='55' name='LEADCF3' id="soksid" /> </td></tr>
<tr><td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold;display:none;' align='right' width='25%'>UTM_Campaign &nbsp;&nbsp;:</td><td width='75%'>
  <input type='hidden' maxlength='55' name='LEADCF5' id="utmcampaign" /> </td></tr> 
<tr><td nowrap='nowrap' align='left'  style='font-size:12px;font-family:Arial;width:200px;display:none;'>Naukri Group </td><td style='width:250px;' ><input type='hidden' style='width:250px;' value=" <%= request.fullpath() %>"  maxlength='56' name='LEADCF4' /></div> </td></tr><tr>
  <tr><td  
  align=center> <input type='submit' name='save' value="Get It Now " onclick="try{ _sokrati_registration(); }catch(err){}" style="background: #2a478d;font-size: 20px;color: #fff;border: none;">  </td></tr></table>
  <script> var mndFileds=new Array('Last Name');var fldLangVal=new Array('Last Name');function 
  checkMandatery(){for(i=0;i<mndFileds.length;i++){ var 
  fieldObj=document.forms['WebToLeads788461000000067005'][mndFileds[i]];if(fieldObj) 
  {if(((fieldObj.value).replace(/^\s+|\s+$/g, 
  '')).length==0){alert(fldLangVal[i] +' cannot be empty'); 
  fieldObj.focus(); return false;}else 
  if(fieldObj.nodeName=='SELECT'){if(fieldObj.options[fieldObj.selectedIndex].value=='-None-'){alert(fldLangVal[i] 
  +' cannot be none'); fieldObj.focus(); return false;}}else { window.open("/download_pdf_pgpba");}}}}
  </script>  
  </form></div>
</div>
</td></tr></table>
  </div>
  <h1 style="text-align:center;font-weight: normal;">About the Program</h1>
  <div style="float:left;width:100%;text-align: center;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 1px 2px 10px 2px #ddd;">
          <%#= image_tag('about_pgrogram.png', :style=>"width:100%;") %>
</div>
   <div style="float:left;width:97%;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 1px 2px 10px 2px #ddd;padding: 20px;">

<table cellpadding="5" style="font-size:16px;"><tr><td><h4>CONTACT US</h4></td><td><i class="icon " style="margin-top: 0px;margin-right: 0px;">      <%#= image_tag('tel.png', :width=>"15") %>
  </i><b>Tel</b>:</td><td> 87506-48238</td>
<td><i class="icon icon-envelope" style="margin-top: 4px;margin-right: 2px;"></i><b>Email</b>:</td><td> <a href="mailto:pgpba@greatlakes.edu.in" target="_top">pgpba@greatlakes.edu.in</a></td>
<td><i class="icon " style="margin-top: 0px;margin-right: 2px;">
<%#= image_tag('mouse.png', :width=>"15") %>
</i><b>Web</b>:</td><td><a href="/" style="color:#000;">pgpba.greatlakes.edu.in</a></td></tr></table>
  </div>
  </div>
  </div>
  </div>
  </div> -->

<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
<style type="text/css">
#overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
z-index: 100;
display: none;
}
.cnt223 a{
text-decoration: none;
}
.popup{
width: 100%;
margin: 0 auto;
display: none;
position: fixed;
z-index: 101;
top:0px;
}
.cnt223{
min-width: 600px;
width: 600px;
min-height: 150px;
margin: 100px auto;
background: #ffffff;
position: relative;
z-index: 103;
padding: 10px;
border-radius: 5px;
box-shadow: 0 2px 5px #000;
}
.cnt223 p{
clear: both;
color: #555555;
text-align: justify;
}
.cnt223 p a{
color: #d91900;
font-weight: bold;
}
.cnt223 .x{
float: right;
height: 35px;
left: 22px;
position: relative;
top: -25px;
width: 34px;
}
.cnt223 .x:hover{
cursor: pointer;
}

.textbox {
border: 1px solid #c1c1c1 !important;
border-radius: 5px !important;
padding: 18px 20px !important;
margin: 5px 150px !important;
width: 42.5% !important;
font: 13px 'Open sans' !important;
color: #696969 !important;
}
.orange-button {
width: 50% !important;
margin: 10px 30px;
border: 0px;
background-color: #f99d1c;
font: 18px 'Gadugi';
text-decoration: none;
color: #353942;
font-weight: bold;
position: relative;
padding: 15px 9px 13px 11px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: inset 0px 0px 0px #84101b, 0px 3px 0px 0px #84101b;
-moz-box-shadow: inset 0px 0px 0px #84101b, 0px 3px 0px 0px #84101b;
-o-box-shadow: inset 0px 0px 0px #84101b, 0px 3px 0px 0px #84101b;
box-shadow: inset 0px 0px 0px #84101b, 0px 3px 0px 0px #84101b;
cursor: pointer;}

</style>
<script type='text/javascript'>
$(function(){
var overlay = $('<div id="overlay"></div>');
overlay.show();
overlay.appendTo(document.body);
$('.popup').show();
$('.close').click(function(){
$('.popup').hide();
overlay.appendTo(document.body).remove();
window.Location('http://localhost:3000');
return false;
});

$('.x').click(function(){
$('.popup').hide();
overlay.appendTo(document.body).remove();
return false;
});
});

$(document).ready(function()
{
  alert('ok')
var URLParser = function (url) {
    this.url = url || window.location.href;
    this.urlObject = this.parse(); 
};

URLParser.prototype = {
    constructor : URLParser,
    
    parse : function (url) {
        var tempArr,
            item,
            i,
            returnObj = {};
        this.url = url || this.url;
        tempArr = this.url.split("?");
        returnObj.baseURL = tempArr[0];
        returnObj.params = {};
        if (tempArr.length > 1) {
            returnObj.queryString = tempArr[1];
            tempArr = tempArr[1].split("&");
            for (i = 0; i < tempArr.length; i++) {
                item = tempArr[i].split("=");
                returnObj.params[item[0]] = item[1];    
            }
        } else {
            returnObj.queryString = "";
        }
        
        return returnObj;
    },
    
    toString : function () {
        var strURL = this.urlObject.baseURL + "?",
            paramObj = this.urlObject.params,
            prop;
        for (prop in paramObj) {
            if (paramObj.hasOwnProperty(prop)) {
                strURL += prop + "=" + paramObj[prop] + "&";
            }
         }
        return strURL.substr(0, strURL.length - 1);
    },
    
    removeParams : function (removeArray) {
        var paramObj = this.urlObject.params,
            key,
            i;
        if (removeArray instanceof Array) {
            for (i = 0; i < removeArray.length; i++) {
                key = removeArray[i];
                if (paramObj.hasOwnProperty(key)) {
                    delete paramObj[key];
                }
            }
        }
    },
    
    addParams : function (paramObj) {
        var params = this.urlObject.params,
            key;
        if (typeof paramObj === "object") {
            for (key in paramObj) {
                if (paramObj.hasOwnProperty(key)) {
                    params[key] = paramObj[key];
                }
            }
        }
    }
};

var up = new URLParser();
var urlObj = up.parse(window.location.href);
// var soksid=urlObj.params['soksid'];
var utm_source=urlObj.params['utm_source'];
// var utm_campaign=urlObj.params['utm_campaign'];
// var Soksid = document.getElementById("soksid");
// Soksid.value = urlObj.params['soksid'];
// var Utmsource = document.getElementById("utmsource");
// utmsource.value = urlObj.params['utm_source'];
var Utmcampign = document.getElementById("utmcampaign");
Utmcampign.value = urlObj.params['utm_source'];
});

</script>
  
<div class='popup '>
<div class='cnt223'>
<a title="Close"  class="fancybox-item fancybox-close" href="/"></a>
<p>
   <div class="formpart" style="border:none;">
  <div style="width: 53%;padding: 5px 0px;font-size: 20px;margin: 0px 135px;text-align: center;
background: #081B42;box-shadow: 0px 0px 0px;-webkit-box-shadow: inset 0px 0px 0px #353942, 0px 3px 0px 0px #353942;-moz-box-shadow: inset 0px 0px 0px #353942, 0px 3px 0px 0px #353942;
-o-box-shadow: inset 0px 0px 0px #353942, 0px 3px 0px 0px #84101b;box-shadow: inset 0px 0px 0px #353942, 0px 3px 0px 0px #353942;color:#fff;font-weight:normal;border-radius:5px;">
Get Free <span style="color:#FFA72D;font-weight:bold;">e-book</span> on<br>
<span style="color:#FFA72D;font-weight:bold;">“Careers in Analytics”</span>
  </div>
<div id='crmWebToEntityForm' align='center'><META HTTP-EQUIV ='content-type' CONTENT='text/html;charset = UTF-8'>  
  <form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads788461000000656001 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatery()' accept-charset='UTF-8'> 
   <input type='text' style='display:none;' name='xnQsjsdp' value='SxGdQuLItuBthYo@kRl79w$$'/> 
    <input type='hidden' name='zc_gad' id='zc_gad' value=''/>  
    <input type='text' style='display:none;' name='xmIwtLD' value='mJKTOQCzg8dqY2V2SPLp8W-@B6-MHnNR'/> 
     <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='/> <input type='text' style='display:none;' name='returnURL' value='http&#x3a;&#x2f;&#x2f;pgpba.greatlakes.edu.in&#x2f;' /> 
     <br>
     <table border=0 cellspacing=0 cellpadding='0' width="100%">
      <!-- <tr>
        <td colspan='2' align='left' style='color:black;font-family:Arial;font-size:14px;'><strong>marketing</strong></td>
      </tr>
       <br> -->
       <tr>
       <!--  <td nowrap='nowrap' align='left'  style='font-size:12px;font-family:Arial;width:200px;'>Full Name<span style='color:red;'>*</span> </td> -->
             <td><input type='text' maxlength='80' name="Last Name" id="Name" placeholder="Full Name" class="textbox"/> </td>
      </tr>
      <tr>
<!--         <td nowrap='nowrap' align='left'  style='font-size:12px;font-family:Arial;width:200px;'>Contact Number<span style='color:red;'>*</span> </td> -->
<td><input type='text' maxlength='30' name="Phone" id="Phone" placeholder="Contact number" class="textbox"/>
        </td>
       </tr>
      <tr><!-- <td nowrap='nowrap' align='left'  style='font-size:12px;font-family:Arial;width:200px;'>Email Address<span style='color:red;'>*</span> </td> -->
         <td><input type='text' maxlength='100' name="Email" placeholder="Email address" class="textbox">
        </td>
        
      </tr>
       <tr style='display:none;' >
     <td nowrap='nowrap' align='left'  style='font-size:12px;font-family:Arial;width:200px;' width='50%'>UTM_Campaign </td>
    <td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='96' name='LEADCF5' id="utmcampaign"></td>
       </tr>
  <tr>
      <td colspan='2' align='center' style='padding-top: 15px;' ><input type='submit' value='Get It Now!' class="orange-button" />
</td>
    </tr>
      <tr>
      <td colspan='2' align='center' style='padding-top: 5px;font-size: 11px;color: #B3B1B1;' >Your information will be remain safe. <a href="#privacy"  role="button" data-toggle="modal" style="color: #B3B1B1;text-decoration:underline;">privacy policy</a>
</td>
    </tr>

     </table>

        <script> var mndFileds=new Array('Last Name','Email','Phone');var fldLangVal=new Array('Full Name','Email Address','Contact Number');function reloadImg(){if(document.getElementById('imgid').src.indexOf('&d') !== -1 ){document.getElementById('imgid').src=document.getElementById('imgid').src.substring(0,document.getElementById('imgid').src.indexOf('&d'))+'&d'+new Date().getTime();}else{document.getElementById('imgid').src = document.getElementById('imgid').src+'&d'+new Date().getTime();}}function checkMandatery(){for(i=0;i<mndFileds.length;i++){ var fieldObj=document.forms['WebToLeads788461000000656001'][mndFileds[i]];if(fieldObj) {if(((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0){alert(fldLangVal[i] +' cannot be empty'); fieldObj.focus(); return false;}else if(fieldObj.nodeName=='SELECT'){if(fieldObj.options[fieldObj.selectedIndex].value=='-None-'){alert(fldLangVal[i] +' cannot be none'); fieldObj.focus(); return false;}} else if(fieldObj.type =='checkbox'){ if (fieldObj.checked == false){     alert('Please accept  '+fldLangVal[i]); fieldObj.focus();return false;}}else { window.open("/download_pdf_pgpba");}}}}</script>  </form>
      </div>
<a href='/' class='close fancybox-item fancybox-close'></a> 

</div>

 
</div>
</div>

<% provide(:title, 'Great Lakes Analytics Program') %>
<style type="text/css">
.table-striped tbody > tr:nth-child(even) > td
{background:#fff !important;
  
  text-align:center !important;
}
.table-striped tbody > tr:nth-child(odd) > td
{
  background:#eee !important;
  text-align:center !important;
}
th{text-align: center !important;background:#fff ;}
.textwrap{float: left;margin:15px;}
h3{text-align: left;}

</style>

<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  
  <div class="carousel-inner">
    <div class=" active item"><%= image_tag('banner03.jpg') %>
    <a href="" class="offset7 btn" style="color: transparent;position: absolute;margin-top: -6%;font-weight: bold;
font-size: 20px;width: 245px;left: 10%;background: transparent;border: none;text-shadow: 0px 0px 0px;box-shadow:0px 0px 0px;", remote="true", data-toggle="tab", data-target="#Class_videos",
    <%= root_path(:format => :js) %>>View a sample class video</a> </div>
    
    <div class="item"><%= image_tag('banner02.jpg') %>
      <a href="" class="offset7 btn" style="color: transparent;position: absolute;margin-top: -6.28%;
font-weight: bold;font-size: 26px;width: 246px;left: 3%;background: transparent;
border: none;
text-shadow: 0px 0px 0px;", remote="true", data-toggle="tab", data-target="#Class_videos",
    <%= root_path(:format => :js) %>>WATCh A CLASS VIDEO</a>
<a href="/application" target='blank' class="offset4 btn" style="color: transparent;position: absolute;
margin-top: -6.28%;font-weight: bold;font-size: 20px;width: 245px;left: 4.5%;background: transparent;border: none;text-shadow: 0px 0px 0px;">ENROLL TO THE PROGRAM NOW</a> </div>
<div class="item"><%= image_tag('banner01.jpg') %> <a href="/application" target='blank' class="offset8 btn" style="color: transparent;
position: absolute;margin-top: -10%;font-weight: bold;font-size: 20px;width: 240px;left: 5%;background: transparent;
border: none;text-shadow: 0px 0px 0px;">ENROLL TO THE PROGRAM NOW</a> </div>
    
  </div>
  
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>



     <div class="row-fluid">
        <div class="coursesyllabus" >
  <div style="width:100%;background:#333;float:left;height:100%;margin-top: 0px;" ><ul class="nav nav-tabs1" id="myTab" style="width: 88%;margin:0px auto;">
    <li class="active"><a href="#home1">OVERVIEW</a></li>
    <li><a href="#profile1">ABOUT PROGRAM</a></li>
    <li><a href="#messages1">ADMISSIONS</a></li>
  </ul></div>
    <div class="container">
        <div class="">
         <div class="span12" >
        <div class="tab-content" style="width: 73%;padding: 0px;float: left;">
    <div class="tab-pane active" id="home1">
      <div class="" style="width:100%">
      <div class="tabbable tabs-left" > 
      <div  style="margin-top: 40px;float: left;width: 23%;margin-right: 0px; 10px;height: 625px;
  background: url('/assets/greybandcopy.png');background-position-x: 185px;">
  <ul class="nav nav-tabs2" id="myTab1" style="">
    <li class="active"><a href="#home">Analytics as an Opportunity</a></li>
    <li><a href="#messages">Program introduction</a></li>
    <li><a href="#advantages">Great Lakes  Advantage</a></li>
    <li><a href="#class_profile">Class Profile</a></li>
    <li><a href="#Class_videos">Class Videos</a></li>
    <li class="tab-pane"><a href="#Partners">Program Partners</a></li>
  </ul></div>

  <div class="tab-content" style="width: 76%;float: left;padding-top: 30px;">
    <div class="tab-pane active" id="home">
  <div class="aboutcompany">
      <div class="underlinetext" style="text-align:center;">
        <%= image_tag('Analytics_Infograhic.jpg', :style => "width:650px;") %>
        <br>
  <!-- <P style="float: left;padding: 20px 15px;width: 95%;text-align: justify;">Analytics is the next big global opportunity and is witnessing an acute shortage of skilled talent. With leading Indian and global companies scouting for talent, a combination of business management and analytical training can propel a candidate to managerial and leadership roles in the analytics industry.  </p> --></div>
  </div></div>
   <div class="tab-pane" id="class_profile">
  <div class="aboutcompany">
      <div class="underlinetext" style="text-align:center;">
        <%= image_tag('meet_the_class.png', :style => "width:650px;") %>
     
  </div>
  </div></div>
   <div class="tab-pane" id="Class_videos">
  <div class="aboutcompany">
      <div class="underlinetext" style="text-align:center;">
  <table style="text-align: left !important;text-decoration: underline;" cellpadding="10">
  <tr><td colspan="2"><h3>Predicting the Winner of West Bengal Elections</h3></td></tr>
    <tr><td>
      <iframe width="300" height="225" style="box-shadow: 10px 5px 10px;" src="//www.youtube.com/embed/D20xqXmz3qA" frameborder="0" allowfullscreen></iframe>
   <!--  <iframe width="300" height="225" style="box-shadow: 10px 5px 10px;" src="//www.youtube.com/embed/ACU9nPRvGUg" frameborder="0" allowfullscreen></iframe> --></td><td style="vertical-align:middle;">Subject: Statistical Decision Making<br><br>
Facutly: Prof. Bappaditya Mukhopadhyay</td></tr>
  <tr><td colspan="2">
    <h3>
Importance of Demand Forecasting</h3></td></tr>
    <tr><td>
      <iframe width="300" height="225" style="box-shadow: 10px 5px 10px;" src="//www.youtube.com/embed/B8USt2qEVoQ" frameborder="0" allowfullscreen></iframe>
      <!-- <iframe width="300" height="225" style="box-shadow: 10px 5px 10px;" src="//www.youtube.com/embed/HvLXNyjOSYM" frameborder="0" allowfullscreen></iframe> --></td><td style="vertical-align:middle;"> Subject: Supply Chain and Logistics<br><br>
Faculty: Prof.Nandi</td></tr>
  <tr><td colspan="2">
    <h3>
What is Analytics?</h3></td></tr>
    <tr><td><iframe width="300" height="225"  src="//www.youtube.com/embed/uzPfdKqdQa4" frameborder="0" allowfullscreen></iframe></td><td style="vertical-align:middle;">Subject: Overview of Analytics<br><br>
    Faculty Gaurav Vohra</td></tr>
</table>     
  </div>
  </div></div>
    <div class="tab-pane" id="messages" style="padding:20px;">
  <div class="underlinetext">
    <h4>Program Introduction</h4>
           <p style="float: left;padding: 0px 15px;width: 95%;text-align: justify;">
The Great Lakes' Post Graduate Program in Business Analytics is designed for executives who want to build their careers in the analytics industry. The Program covers essentials of business management, deep dives into the study of business analytics and provides hands on training on analytical tools and technologies that are used by companies worldwide.
</p><p style="float: left;padding: 0px 15px;width: 95%;text-align: justify;">
Some of the unique features of the Program are enlisted below: </p>
 <ul style="text-align: justify;float: left;">
     <li>The curriculum provides a detailed study in analytics alongwith covering general management subjects and specialised domain areas such as Retail, BFSI, Healthcare, E-commerce and Energy.
     </li> <li> The courses are taught by eminent faculty from Great Lakes and senior executives from leading analytics companies.
 </li><li>
The Program provides the candidates with hands on exposure to tools such as SAS, Tableau and actual industry case studies through virtual labs, assignments and project</li><li>
The blended delivery model (classroom and online) of the Program makes it convenient for working professionals to attend classroom sessions without having to quit their jobs and also, pace their learning through online sessions.</li></ul>


<h4>Who is it for?</h4>
<p style="float: left;padding-right:15px;padding-left:15px;padding-bottom:10px;width: 95%;text-align: justify;">

The PGP-BA Program is designed for working professionals who wish to embark on managerial careers in the analytics sector. The prior experience of a candidate need not be in analytics, though an analytic bent of mind would be preferable. A successful graduate degree, a minimum experience of two years and a keen interest in analytical problem solving are the only pre-requisites for applying to the Program. 
</p>
<h4>Career paths after PGPBA</h4>
<p style="float: left;padding: 0px 15px;width: 95%;text-align: justify;">
The Post Graduate Program in Business Analytics (PGP-BA) equips you with the relevant knowledge and skills to pursue managerial careers with best of analytics companies or move the analytics roles within your existing organisation.
Though the roles would vary across organizations and would also depend on a candidate's experience levels, some of the indicative roles would be: Business Analyst / Senior Business Analyst, Manager (Analytics), Head (Analytics), Vice President (Analytics), Consultant, etc.
</p><!-- <p style="float: left;padding: 0px 15px;width: 95%;text-align: justify;">
Some introductory videos on analytics
</p> -->
     <!--  <table><tr><td><h4>1.What is Analytics?</h4>
     
<object id="kaltura_player_1380021852" name="kaltura_player_1380021852" type="application/x-shockwave-flash" allowFullScreen="true" allowNetworking="all" allowScriptAccess="always" height="330" width="400" bgcolor="#000000" xmlns:dc="http://purl.org/dc/terms/" xmlns:media="http://search.yahoo.com/searchmonkey/media/" rel="media:video" resource="http://media.beaconlearning.in/index.php/kwidget/cache_st/1380021852/wid/_101/uiconf_id/6709463/entry_id/0_7rd831xx" data="http://media.beaconlearning.in/index.php/kwidget/cache_st/1380021852/wid/_101/uiconf_id/6709463/entry_id/0_7rd831xx"><param name="allowFullScreen" value="true" /><param name="allowNetworking" value="all" /><param name="allowScriptAccess" value="always" /><param name="bgcolor" value="#000000" /><param name="flashVars" value="&" /><param name="movie" value="http://media.beaconlearning.in/index.php/kwidget/cache_st/1380021852/wid/_101/uiconf_id/6709463/entry_id/0_7rd831xx" /><a href="http://corp.kaltura.com">video platform</a> <a href="http://corp.kaltura.com/video_platform/video_management">video management</a> <a href="http://corp.kaltura.com/solutions/video_solution">video solutions</a> <a href="http://corp.kaltura.com/video_platform/video_publishing">video player</a> <a rel="media:thumbnail" href="http://media.beaconlearning.in/p/101/sp/10100/thumbnail/entry_id/0_7rd831xx/width/120/height/90/bgcolor/000000/type/2"></a> <span property="dc:description" content=""></span><span property="media:title" content="v1"></span> <span property="media:width" content="400"></span><span property="media:height" content="330"></span> <span property="media:type" content="application/x-shockwave-flash"></span> </object>
       </td></tr>
       <tr><td>
       <h4>2.Why is analytics becoming popular?</h4>
    <object id="kaltura_player_1380021902" name="kaltura_player_1380021902" type="application/x-shockwave-flash" allowFullScreen="true" allowNetworking="all" allowScriptAccess="always" height="330" width="400" bgcolor="#000000" xmlns:dc="http://purl.org/dc/terms/" xmlns:media="http://search.yahoo.com/searchmonkey/media/" rel="media:video" resource="http://media.beaconlearning.in/index.php/kwidget/cache_st/1380021902/wid/_101/uiconf_id/6709463/entry_id/0_eocld47n" data="http://media.beaconlearning.in/index.php/kwidget/cache_st/1380021902/wid/_101/uiconf_id/6709463/entry_id/0_eocld47n"><param name="allowFullScreen" value="true" /><param name="allowNetworking" value="all" /><param name="allowScriptAccess" value="always" /><param name="bgcolor" value="#000000" /><param name="flashVars" value="&" /><param name="movie" value="http://media.beaconlearning.in/index.php/kwidget/cache_st/1380021902/wid/_101/uiconf_id/6709463/entry_id/0_eocld47n" /><a href="http://corp.kaltura.com">video platform</a> <a href="http://corp.kaltura.com/video_platform/video_management">video management</a> <a href="http://corp.kaltura.com/solutions/video_solution">video solutions</a> <a href="http://corp.kaltura.com/video_platform/video_publishing">video player</a> <a rel="media:thumbnail" href="http://media.beaconlearning.in/p/101/sp/10100/thumbnail/entry_id/0_eocld47n/width/120/height/90/bgcolor/000000/type/2"></a> <span property="dc:description" content=""></span><span property="media:title" content="v2"></span> <span property="media:width" content="400"></span><span property="media:height" content="330"></span> <span property="media:type" content="application/x-shockwave-flash"></span> </object></td></tr></table> -->
   </div></div>
  <div class="tab-pane" id="advantages">
  <div class="aboutcompany">
  <div class="underlinetext" >
  <h2>Great Lakes Advantage</h2>
     <ul style="text-align: justify;">
     <li>“Ranked among the Top 5 Analytics Program in India”  by Analytics India Magazine"
     </li> <li> Great Lakes is one of the premier business schools in the country and has been ranked within the top ten in the country by Outlook, Business Today, Careers 360 and CNBC-TV18.
 </li><li>
Great Lakes is the only business school in India to set up a dedicated Center of Excellence in Analytics. This center has been established with support from leading analytics companies and is dedicated to cutting edge research and training for talent development for the analytics industry.</li><li>
Great Lakes has academic collaborations with leading institutions such as Yale University, Nanyang Technical University, University of Houston, Illinois Institute of Technology.</li><li>
The faculty pool at Great Lakes comprises leading faculty from Indian and International institutions such as Harvard Business School, Stanford Graduate School of Business, Kellog School of Business, Stern School of Business, University of Chicago, IIM Ahmedabad, IIM Bangalore, IIM Kolzhikode, IIT Bombay, IIT Delhi, etc</li><li>
Some of the eminent dignitaries associated with Great Lakes include Dr Ratan Tata (Business Advisory Council), Mr Kumaramanglam Birla (Business Advisory Council), Mr Narayana Murthy (Business Advisory Council), Ms Indra Nooyi (Business Advisory Council), Mr Deepak Parekh (Business Advisory Council), Dr Philip Kotler (Academic Advisory Council), Prof Aswath Damodaran (Academic Advisory Council), etc</li><li>
Great Lakes convenes an International Business Analytics conference every year that participation from industry and academia in India and abroad. </li><li>
Great Lakes faculty have authored several books and research articles on analytics and have trained analytics professionals across companies such as Accenture, American Express, Mu Sigma, HP, etc. </li></ul></div>
  </div></div>

   <div class="tab-pane" id="Partners" style="padding:20px;">
    <h2>Program Partners</h2>
     <div class="underlinetext" style="text-align:center;">
  <h4 style="text-decoration:underline;text-align: left;">ACADEMIC PARTNER
</h4>
      
  <P style="float: left;padding: 0px 15px;width: 95%;text-align: justify;"><%= image_tag('greatlakes_logo.jpg', :class=>"textwrap", :style=>"width:275px;") %>Great Lakes is one of India’s leading business schools with
campuses in Chennai and Gurgaon. Led by exceptional faculty,
steered by an outstanding advisory council, Great Lakes has
been ranked within top 10 business schools by Outlook,
Business Today, Careers 360 and CNBC TV 18

</p></div> 
       
   <!--  <div class="underlinetext">
    <h4 style="text-decoration:underline;">Corporate Partners</h4>
  <table class="table">
    <tr><td>
      <%#= image_tag('bridge_logo.png', :width=>"175",:height=>"70") %></td><td>
      <%#= image_tag('evalue_logo.png', :width=>"175", :height=>"70") %></td></tr>
  </table></div> -->
 <div class="underlinetext" style="text-align:center;">
  <h4 style="text-decoration:underline;text-align: left;">TECHNOLOGY & ADMINISTRATION PARTNER
</h4>
  
  <P style="float: left;padding: 10px 15px;width: 95%;text-align: justify;"><%= image_tag('beaconslogop.png', :class=>"textwrap", :style=>"width:275px;") %>Beacon Learning is a technology enabled learning services
provider offering high quality professional and skill oriented
tertiary education for students and working professionals. The
Beacon learning management system provides the students
with the best-in-class learning environment that makes online
learning impactful, interactive and more classroom like.
</p>
  </div>
  <div class="underlinetext" style="text-align:center;">
  <h4 style="text-decoration:underline;text-align: left;">Online Content Partner</h4>
      
  <P style="float: left;padding: 0px 15px;width: 95%;text-align: justify;"><%= image_tag('jigsaw-logo.png', :class=>"textwrap", :style=>"width: 330px;margin:5px;") %>Jigsaw Academy imparts analytics training online leveraging
content developed by analytics experts from around the world.
The content is highly industry relevant thereby enabling
learners to understand and apply analytical techniques to real
world problems.
</p></div>

</div>
  </div>
  </div>
  </div>
  </div>
  <div class="tab-pane" id="profile1">
   <div class="span10" style="width:100%;">
      <div class="tabbable tabs-left" > 
      <div  style="margin-top: 40px;float: left;width: 23%;margin-right: 0px; 10px;float: left;
  height: 760px;
  background: url('/assets/greybandcopy.png');background-position-x: 185px;">
  <ul class="nav nav-tabs2" id="myTab1" style="">
    <li class="active"><a href="#Benefits">Program Benefits</a></li>
<!--     <li class="tab-pane"><a href="#Details">Program Details</a></li>
 -->    <li class="tab-pane"><a href="#message">Message from the Dean</a></li>
     <li class="tab-pane"><a href="#Pedagogy">Pedagogy</a></li>
    <li class="tab-pane"><a href="#Calendar">Program Schedule</a></li>
    <li class="tab-pane"><a href="#Curriculum">Curriculum</a></li>
    <li class="tab-pane"><a href="#Faculty"> Faculty</a></li>
    <li><a href="#partners">Industry Support</a></li>
    <li><a href="#Student">Student Testimonials</a></li>
  </ul></div>

  <div class="tab-content" style="width: 76%;float: left;padding-top: 30px;">
       <div class="tab-pane active" id="Benefits" style="padding:0px;">

  <div class="underlinetext" style="text-align:center;">
        <%= image_tag('program_benifits.png', :style => "width:650px;") %>
 </div>
  </div>
 <div class="tab-pane " id="Details">
  <div class="aboutcompany">
      <div class="underlinetext" style="text-align:center;">
       <div class="underlinetext">
      <h2>Program Details</h2>
      <P style="float: left;padding: 0px 15px;width: 95%;text-align: justify;">The PGP-BA Program is designed with a learning methodology that is comprehensive in content and impactful in outcome. The format of the Program combines the best of classroom sessions and technology aided learning in terms of recorded lectures and live webinars.</p>
  </div>
  <div class="underlinetext" style="text-align: justify;">    
 <ul>
  <li>The Program duration is 11 months, with the participants spending 5 days (including weekend) every alternate month on campus.
</li>
  <li> Between successive contact sessions, participants would take online classes and access other learning material (assignments, readings, recordings, hands on SAS lab exercises, etc) using an online learning management system.</li>
  <li>In terms of number of hours, the Program would be spread across 240 hours of classroom sessions and about 150 hours of online learning (using recordings, webinars, virtual lab, assignments and project).</li>
</ul>
  </div>

     </div>
  </div></div>

   <div class="tab-pane " id="message">
  <div class="aboutcompany">
      <div class="underlinetext" style="text-align:center;">
       <div class="underlinetext">
      <h2>Message from the Dean</h2>
     
        <table cellpadding="10"><tr><td style="width: 285px;"><%= image_tag('dean.png', :style => "width:100%;height: 150px;position:relative;") %></td>
          <td><h3 style="font-size:20px;margin-top:0px;line-height:18px;">Padma Shri Dr Bala V Balachandran</h3>
            <p style="padding: 0px 0px;width: 100%;text-align: justify;word-spacing: -1px;color:#A8A4A4;">
        Founder & Dean, Great Lakes Institute of Management. J L Kellogg Distinguished Professor (Emeritus in Service) of Accounting and Information Management, Northwestern University, Illinois, USA</p>
        </td></tr></table>   
      
      <p style="float: left;padding: 10px 15px;width: 95%;text-align: justify;font-style:italic;font-weight:bold;">
        “It is becoming imperative for businesses to draw insights and tangible actions from data. Business Analytics and Business Intelligence are indispensable for today’s managers and business leaders. “
      </p>
      <p style="float: left;padding: 0px 15px;width: 95%;text-align: justify;">Great Lakes Institute of Management is delighted to offer a one year Post Graduate Program in Business Analytics and Business Intelligence for working executives (PGP-BA/BI). This program blends Academic Elegance with Business Relevance and paves the way for decision making in the midst of “big data” that bewilders business managers by its sheer size and complexity. </br></br>
        The Post Graduate Program in Business Analytics and Business Intelligence (PGP-BA/BI) embraces a variety of techniques that can be used by companies to make effective strategic decisions apart from significantly improving   performance in key dimensions. The art of modeling a business problem, then finding the solution using analytics, and finally successfully implementing the solution are the hallmarks of this program.  <br></br>
        The candidates pursuing this program can expect to gain an overview of business foundation and a comprehensive knowledge of analytic techniques, with an applied industry orientation designed for professionals interested in a career in analytics. <br></br>
      Exhaustive coverage, Hands-on application, Multi-domain exposure and Deep Industry Immersion are the features that make the Great Lakes’ PGP-BA/BI your gateway to a successful analytics career.</p>
  </div>
     </div>
  </div></div>

   <div class="tab-pane " id="Student">
  <!-- <div class="aboutcompany">
      <div class="underlinetext" style="text-align:center;">
       <div class="underlinetext">
      <h2> Student Testimonials</h2>
             <p style="padding: 5px 15px;width: 95%;text-align: justify;font-style:italic;">"I appreciate the emphasis placed on connecting theory to practical application. The diverse professional experience of the batch is leveraged by the professors, who let us decide the breadth and depth of topics covered. Two thumbs up for Great Lakes." <br>
                <b>-Clarence Wong (Consultant at ADP, PGP-BA Student)</b>
              </p>
              
              <p style="padding: 5px 15px;width: 95%;text-align: justify;font-style:italic;">"My journey in great lakes so far has been incredibly informative. Each faculty member is not only a recogonised expert in their respective domain but also have a wealth of life experience which opens our eyes to all the real world scenarios. All in all Great lakes is an experience that everyone should experience." <br>
                <b>-Sudhanshu Pathak (SAP Consultant at KPMG, PGP-BA Student)</b>
              </p>

             <p style="padding: 5px 15px;width: 95%;text-align: justify;font-style:italic;">"PGPBA is a very targeted and focused course for professionals wanting to breakthrough in the analytics domain. The course is well structured with respect to content and is backed by great faculty and thus providing a solid platform to foray into the analytics domain." <br>
                <b>-Karan Seghal ( Associate Vice President, Copal Parters, PGP-BA Student)</b>
              </p>

              <p style="padding: 5px 15px;width: 95%;text-align: justify;font-style:italic;">"The course coverage is quite exhaustive and in depth. The professors are knowledgeable and coach very well. Overall, the program is good and is getting executed well by Great Lakes." <br>
                <b>-Lakshmi Prabha (Program Manager, HCL, PGP-BA Student)</b>
              </p>
      </div>
     </div> -->
     <div leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="margin: 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #F2F2F2;height: 100% !important;width: 100% !important;">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 0;background-color: #F2F2F2;height: 100% !important;width: 100% !important;">
                <tr>
                    <td align="center" valign="top" id="bodyCell" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 20px;border-top: 0;height: 100% !important;width: 100% !important;">
                        <!-- BEGIN TEMPLATE // -->
                        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border: 0;">
                            <tr>
                                <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <!-- BEGIN PREHEADER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templatePreheader" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;">
                                        <tr>
                                          <td valign="top" class="preheaderContainer" style="padding-top: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"></td>
                                        </tr>
                                    </table>
                                    <!-- // END PREHEADER -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <!-- BEGIN HEADER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;">
                                        <tr>
                                            <td valign="top" class="headerContainer" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"></td>
                                        </tr>
                                    </table>
                                    <!-- // END HEADER -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <!-- BEGIN BODY // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;">
                                        <tr>
                                            <td valign="top" class="bodyContainer" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><table class="mcnTextBlock" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td class="mcnTextBlockInner" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                
                <table class="mcnTextContentContainer" align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <tbody><tr>
                        
                        <td class="mcnTextContent" style="padding: 9px 18px;text-align: center;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;" valign="top">
                        
                            <h1 class="null" itemprop="itemReviewed" itemscope="" itemtype="http://schema.org/Thing" style="text-align: center;margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 40px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -1px;color: #606060 !important;"><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif"><span style="font-size:24px"><span itemprop="name">Student Musings on the Great Lakes Analytics Program</span></span></span></h1>

                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table><table class="mcnTextBlock" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td class="mcnTextBlockInner" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                
                <table class="mcnTextContentContainer" align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <tbody><tr>
                        
                        <td class="mcnTextContent" style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;" valign="top">
                        
                            <span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif"><em>Analytics India Magazine,</em> interviewed a few students from the <strong><em>Great Lakes PGPBA Batch </em></strong>to find out more about what drew them to the program, their future plans and their reflections about the program till date.</span>
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table><table class="mcnBoxedTextBlock" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <tbody class="mcnBoxedTextBlockOuter">
        <tr>
            <td class="mcnBoxedTextBlockInner" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                
                <table class="mcnBoxedTextContentContainer" align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <tbody><tr>
                        
                        <td style="padding-top: 9px;padding-left: 18px;padding-bottom: 9px;padding-right: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        
                            <table style="background-color: #F7F7F7;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnTextContentContainer" border="0" cellpadding="18" cellspacing="0" width="100%">
                                <tbody><tr>
                                    <td class="mcnTextContent" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">
                                        <h2 class="null" style="text-align: center;margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -.75px;color: #404040 !important;"><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif"><span style="color:#696969">Profiles of Students Interviewed</span></span></h2>

                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </table>
                                    <!-- // END BODY -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <!-- BEGIN COLUMNS // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateColumns" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;">
                                        <tr>
                                            <td align="left" valign="top" class="columnsContainer" width="50%" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateColumn" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                    <tr>
                                                        <td valign="top" class="leftColumnContainer" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><table class="mcnBoxedTextBlock" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <tbody class="mcnBoxedTextBlockOuter">
        <tr>
            <td class="mcnBoxedTextBlockInner" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                
                <table class="mcnBoxedTextContentContainer" align="left" border="0" cellpadding="0" cellspacing="0" width="300" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <tbody><tr>
                        
                        <td style="padding-top: 9px;padding-left: 18px;padding-bottom: 9px;padding-right: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        
                            <table style="background-color: #F5F5DC;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnTextContentContainer" border="0" cellpadding="18" cellspacing="0" width="100%">
                                <tbody><tr>
                                    <td class="mcnTextContent" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">
                                        <div style="text-align: center;"><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif"><span style="color: #FFA07A !important;"><span style="font-size:18px"><strong>Communications &amp; Market Research Expert</strong></span></span></span></div>

<div style="text-align: center;"><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif"><strong><span style="font-size:18px">Andy Bhanot,</span></strong></span></div>

<div style="text-align: center;"><em><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif">27 Yrs of diversified Exp.</span></em></div>

<div style="text-align: center;"><span style="font-size:14px"><span style="color: #FF9966;"><strong><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif">Regional Director \96<br>
South Asia of Westat</span></strong></span></span></div>

                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table><table class="mcnBoxedTextBlock" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <tbody class="mcnBoxedTextBlockOuter">
        <tr>
            <td class="mcnBoxedTextBlockInner" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                
                <table class="mcnBoxedTextContentContainer" align="left" border="0" cellpadding="0" cellspacing="0" width="300" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <tbody><tr>
                        
                        <td style="padding-top: 9px;padding-left: 18px;padding-bottom: 9px;padding-right: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        
                            <table style="background-color: #F5F5DC;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnTextContentContainer" border="0" cellpadding="18" cellspacing="0" width="100%">
                                <tbody><tr>
                                    <td class="mcnTextContent" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">
                                        <div style="text-align: center;"><span style="color:#339966"><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif"><span style="font-size:18px"><strong>SAP Consultant</strong></span></span></span></div>

<div style="text-align: center;"><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif"><strong><span style="font-size:18px">Sudhanshu Pathak</span></strong></span></div>

<div style="text-align: center;"><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif"><em>7.5 Yrs Exp in ERP Advisory</em></span></div>

<div style="text-align: center;"><span style="font-size:14px"><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif"><span style="color: #339966;"><strong>Consultant, KPMG</strong></span></span></span></div>

                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table><table class="mcnDividerBlock" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <tbody class="mcnDividerBlockOuter">
        <tr>
            <td class="mcnDividerBlockInner" style="padding: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                <table style="border-top: 1px solid #999999;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody><tr>
                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
    </tbody>
</table></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td align="left" valign="top" class="columnsContainer" width="50%" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateColumn" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                    <tr>
                                                        <td valign="top" class="rightColumnContainer" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><table class="mcnBoxedTextBlock" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <tbody class="mcnBoxedTextBlockOuter">
        <tr>
            <td class="mcnBoxedTextBlockInner" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                
                <table class="mcnBoxedTextContentContainer" align="left" border="0" cellpadding="0" cellspacing="0" width="300" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <tbody><tr>
                        
                        <td style="padding-top: 9px;padding-left: 18px;padding-bottom: 9px;padding-right: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        
                            <table style="background-color: #F5F5DC;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnTextContentContainer" border="0" cellpadding="18" cellspacing="0" width="100%">
                                <tbody><tr>
                                    <td class="mcnTextContent" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">
                                        <div style="text-align: center;"><span style="font-size:18px"><span style="color: #0099FF;"><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif"><strong>Data Analytics Professional</strong></span></span></span></div>

<div style="text-align: center;"><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif"><strong><span style="font-size:18px">Clarence Wong,</span></strong><br>
<em>8.5 Yrs Exp. in Six Sigma </em></span><br>
<strong><span style="color:#0099cc"><span style="font-size:14px">Project Lead, Analytics -<br>
ValueLabs</span></span></strong></div>

                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table><table class="mcnBoxedTextBlock" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <tbody class="mcnBoxedTextBlockOuter">
        <tr>
            <td class="mcnBoxedTextBlockInner" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                
                <table class="mcnBoxedTextContentContainer" align="left" border="0" cellpadding="0" cellspacing="0" width="300" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <tbody><tr>
                        
                        <td style="padding-top: 9px;padding-left: 18px;padding-bottom: 9px;padding-right: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        
                            <table style="background-color: #F5F5DC;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnTextContentContainer" border="0" cellpadding="18" cellspacing="0" width="100%">
                                <tbody><tr>
                                    <td class="mcnTextContent" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">
                                        <div style="text-align: center;"><span style="color:#cc6666"><span style="font-size:18px"><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif"><strong>IT Professional</strong></span></span></span></div>

<div style="text-align: center;"><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif"><strong><span style="font-size:18px">Nitin Singh</span></strong></span>,</div>

<div style="text-align: center;"><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif"><em>6.5 Yrs Exp in tech industry</em></span></div>

<div style="text-align: center;"><span style="color:#cc6666"><span style="font-size:14px"><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif"><strong>Senior Analyst, TSYS</strong></span></span></span></div>

                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table><table class="mcnDividerBlock" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <tbody class="mcnDividerBlockOuter">
        <tr>
            <td class="mcnDividerBlockInner" style="padding: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                <table style="border-top: 1px solid #999999;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody><tr>
                        <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
    </tbody>
</table></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END COLUMNS -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <!-- BEGIN FOOTER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;">
                                        <tr>
                                            <td valign="top" class="footerContainer" style="padding-bottom: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><table class="mcnButtonBlock" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <tbody class="mcnButtonBlockOuter">
        <tr>
            <td style="padding-top: 0;padding-right: 18px;padding-bottom: 18px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnButtonBlockInner" align="center" valign="top">
                <table style="border-radius: 15px;background-color: #F5F5DC;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnButtonContentContainer" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="font-family: Arial;font-size: 16px;padding: 15px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnButtonContent" align="center" valign="middle">
                                <a class="mcnButton " title="Read Article" href="http://greatlakesbusinessanalytics.tumblr.com/post/80673964088/student-musings-on-the-great-lakes-pgp-in-business" target="_blank" style="font-weight: bold;letter-spacing: -0.5px;line-height: 100%;text-align: center;text-decoration: none;color: #48C0D8;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Read Article</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </table>
                                    <!-- // END FOOTER -->
                                </td>
                            </tr>
                        </table>
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>
                <center>
                
           
                <style type="text/css">
                    @media only screen and (max-width: 480px){
                        table[id="canspamBar"] td{font-size:14px !important;}
                        table[id="canspamBar"] td a{display:block !important; margin-top:10px !important;}
                    }
                </style>
            </center></div>

  <!-- </div> --></div>



   <div class="tab-pane" id="Curriculum" style="padding:20px;">
 <!--  <div class="underlinetext">
      <h2>Curriculum</h2>
     <P style="float: left;padding: 0px 15px;width: 95%;text-align: justify;"> The curriculum of the Program is designed to expose the candidates to foundations of business management and deep skills in analytics.</p>
  </div>
  <div class="underlinetext">
     <P style="float: left;padding: 0px 15px;width: 95%;text-align: justify;">The courses are a judicious mix of domain knowledge, quantitative subjects, technical skills and applications. The first few modules of the Program will focus on the domain competency along with exposure to rigors of the analytical tools and techniques. Subsequently, the participants will be given expertise in handling large data sets in terms of processing, managing, analyzing and representing them in a format that makes Business decisions easy. The latter portion of the curriculum focuses on specific problems encountered in domains such as Finance, marketing, Web, Health, Energy, Telecom etc, and candidates will learn the Business Analytics approaches to solve these problems. </p>
  </div>
  <div class="underlinetext">
     <P style="float: left;padding: 10px 15px;width: 95%;text-align: justify;"><b>Hands on exposure:</b> Every module will entail practical assignments that complement the conceptual learning that the candidates would have gathered. These assignments will expose the candidates to solving real world business problems using tools such as SAS, R, Tableau, etc.</p>
  </div>
  <div class="underlinetext">
     <P style="float: left;padding: 10px 15px;width: 95%;margin-bottom:10px;text-align: justify;"><b>Industry project</b> is a critical component of the curriculum wherein every candidate will work on an actual industry case study. This project will act as an industry application of the learning derived from the course and will need to be presented to the faculty board for successful completion of the course. </p></div> -->
     


  <div class="underlinetext">
    <h2>Curriculum</h2>
  <table class="table table-bordered table-striped">
  <tr><td>Module</td><td>Courses</td></tr>
  <tr><td style="vertical-align:middle;">Business Foundation</td><td>Financial Statement Analysis</br>Marketing & CRM</br>
    Supply Chain & Logistics</br>Digital commerce</br>Sustainable Business Success Factors</td></tr>
  <tr><td style="vertical-align:middle;">Statitical Techniques</td><td>Data Analysis & Statistical Decision Making<br>Applied Business Statistics</td></tr>
  <tr><td style="vertical-align:middle;">Business Intelligence</td><td>Data Management  Big Data & Cloud Computing<br>Data Mining Techniques & OLAP</td></tr>
  <tr><td style="vertical-align:middle;">Predictive Modelling</td><td>Regression<br>Prediction Models & Heuristics</td></tr>
  <tr><td style="vertical-align:middle;">Optimization and Visualization</td><td>Optimization Modeling<br>Data Visualization </td></tr>
  <tr><td style="vertical-align:middle;">Application in Industry </td><td>Marketing Analytics<br>Operations Analytics<br>Finance Analytics<br>Web & Social Media Analytics<br>Health, Energy and Telecom</td></tr>
  </table>
  <h4>TOOLS TO BE COVERED</h4><br>
   <table class="table table-bordered table-striped">
    <tr><td>SAS</td><td>Tableau</td><td>R</td></tr>
  </table>
   <h4>EXPERIENTIAL LEARNING</h4><br>
   <table class="table table-bordered table-striped">
    <tr><td>Capstone Project</td><td>Virtual Lab</td><td>Case studies/Assignments</td></tr>
  </table>
   <h4>ONLINE MODULES</h4><br>
   <table class="table table-bordered table-striped">
    <tr><td>Overview of Analytics</td><td>Introduction to SAS</td><td>Analytical Techniques</td></tr>
    <tr><td>Retail Analytics</td><td>Financial analytics</td><td>Big Data and R</td></tr>
  </table>
  </div>

  </div>
   <div class="tab-pane" id="Faculty" style="padding:20px;">
  <div class="underlinetext">
       <h2>Faculty</h2>
      The faculty pool of the Program consists of leading academicians in the area of business analytics along with experienced industry practitioners from the leading analytics organizations. The blended academia-industry pedagogy would ensure that the candidates acquire conceptual understanding and industry relevant skills from the Program.
  <br><br>
  <h4 style="font-size: 19.5px;margin:0px;">Dr Bappaditya Mukhopadyay </h4>
  <span style="color:#797979;">Professor, Great Lakes Institute of Management | Ph D (Indian Statistical Institute) </span><br><br>
In addition to being a Professor in Finance and Economics at Great Lakes, Professor Bappaditya is also a Visiting Professor, University of Ulm, Germany , SP Jain Centre for Management, Singapore and Dubai and IIM Kolkata. He is also a Special Invitee on Board for Risk Management Committee & many more esteemed organizations.  <br><br>
  <h4 style="font-size: 19.5px;margin:0px;">Dr S Bharadwaj</h4>
  <span style="color:#797979;">Professor, Great Lakes Institute of Management | Ph D (University of Maryland)</span> <br><br>
S. Bharadhwaj is the Dr. Bala V. Balachandran & Vasantha Balachandran Chair Professor of Marketing. Prior to joining Great Lakes, he worked at Department of Management Studies, IIT Madras and Nanyang Business School, Singapore. Dr. S. Bharadhwaj holds a PhD in Marketing from the Robert Smith School of Business, University of Maryland, College Park, USA.   <br><br>
  <h4 style="font-size: 19.5px;margin: 0px;">Dr P K Vishwanathan </h4>
  <span style="color:#797979;">Professor, Great Lakes Institute of Management | Ph D </span> <br><br>
Dr. P. K. Viswanathan is currently a Professor in the area of Operations at Great Lakes Institute of Management. Apart from executing corporate consultancy assignments, he has designed and conducted training Programs for many leading organizations in India. After completing his Masters from Madras University, he went on to do an MBA from FMS, Delhi and MS from Manitoba, Canada. He holds a PhD from Madras University.   <br><br>
  <h4 style="font-size: 19.5px;margin: 0px;">Dr Tapan Panda </h4>
  <span style="color:#797979;">Professor, Great Lakes Institute of Management | Ph D, MBA </span><br><br>
Dr Panda has worked at Indian Institute of Management at Lucknow, Kozhikode and Indore as a full time faculty member and also officiated as Director at Indian Institute Of Management Indore before joining Everonn Education Limited( a BSE and NSE listed company) as its President( Marketing and Corporate Affairs). Dr Panda is a regular contributor to business newspapers and magazines and is a recipient of the Dewang Mehta Memorial Award as Best Marketing Faculty in  the year 2011. <br><br>  <h4 style="font-size: 19.5px;margin: 0px;">Dr Vaidy Jayaraman </h4><span style="color:#797979;">
Professor, Great Lakes Institute of Management | Ph D (The Ohio State University), MBA (University of Akron, Ohio )</span><br><br>
Dr Jayaraman is an Associate Professor of Operations and Supply Chain Management at the School of Business Administration, University of Miami, Coral Gables, Florida.  Prior to joining the University of Miami, he was an Assistant Professor of Operations and Supply Chain Management at the School of Business Administration, Washington State University as well as an Assistant Professor of Operations and Supply Chain Management at the School of Business Administration, University of Southern Mississippi. <br><br> <h4 style="font-size: 19.5px;margin: 0px;">Dr Himadri Das</h4>
  <span style="color:#797979;">Professor, Great Lakes Institute of Management | Ph D (University of Virginia), B Tech (IIT Delhi)</span> <br><br>
Dr Das is currently the Director of Great Lakes Institute of Management, Gurgaon. Dr. Himadri Das has B.Tech and MBA degrees from IIT Delhi and MS and Ph.D degrees from University of Virginia. He was associated with IMI, Delhi for 11 years as a Professor of Finance and Information Systems and did serve in variety of academic leadership positions latest being Dean (Academic Programs). He regularly teaches in business schools internationally as well and has undertaken substantial research and consulting projects.     <br><br>

<h4 style="font-size: 19.5px;margin:0px;">Dr. Bobby Srinivasan</h4>
  <span style="color:#797979;">Professor - Finance, Great Lakes  | Ph D (Case Western University, USA) </span><br><br>
Dr. Bobby Srinivasan is currently a distinguished Dr. Bala and Vasantha Balachandran Professor of Finance and Trading and is also the first year PGDM Director. Prior to joining Great Lakes, he worked at the Institute of Financial Management and Research (IFMR) as Distinguished Professor and President of the institute. He holds a Ph.D. in Operations Research from the Case Western University, USA and has since taught in the US, Canada and in Singapore for well over 40 years. While in Singapore, he taught both at the National University of Singapore and Nanyang Technological University, which spanned over a period of 25 years.  <br><br>

<h4 style="font-size: 19.5px;margin:0px;">Prof. Easwar Krishna Iyer</h4>
  <span style="color:#797979;">Associate Professor - Marketing, Great Lakes MBA (University of Houston), M Tech (IIT Kharagpur)</span><br><br>
Easwar Krishna Iyer is Associate Professor in Marketing. Prior to Great Lakes, he was Associate Professor at Amrita School of Business (ASB) and Vice Chair of the EMBA program jointly run by ASB and State University of New York, Buffalo. Prior to that, he has extensive research background in the Technology area with several international publications in journals as varied as Electronics Letters, Microwave & Optical Technology Letters and Applied Superconductivity.   <br><br>

<h4 style="font-size: 19.5px;margin:0px;">Dr. Paul Prabhakar</h4>
  <span style="color:#797979;">Professor, Northern Illinois
University, USA
Ph D (University of Rochester)</span> <br><br>
Dr. Prabhaker joined the NIU College of Business in 2007 and currently serves as associate dean. Prior to his current assignment, Dr. Prabhaker was the dean of a business school in the University of North Carolina system and for several years, the associate dean at the Illinois Institute of Technology's Stuart School of Business. He has taught courses in Business/Marketing Strategy, Marketing Research, Marketing Management and Technology Commercialization primarily for graduate and corporate/executive students. <br><br>

  <h4 style="font-size: 19.5px;margin:0px;">Dr. Sudhakar Balachandran</h4>
  <span style="color:#797979;">Associate Professor, University of
Illinois, USA
Ph D (Harvard Business School)</span> <br><br>
Dr Sudhaker is the Associate Professor at University of Illionois in the area of Finance and Accounting. Prior to University of Illinois, he was a faculty at Graduate School of Business, Columbia University. His is also a visiting faculty at Great Lakes Institute of Management. Dr Sudhaker graduated from Kellogg Business School and received his PhD from Harvard Business School. <br><br>


  <h4 style="font-size: 19.5px;">Industry faculty</h4>
Senior executives and practitioners who have worked with leading organizations that successfully use analytics such as American Express, Accenture, Evalueserve, Genpact, GE, Capital One, Symphony, Mu Sigma, Absolut Data, etc.  </div>
   </div>
   <div class="tab-pane" id="Calendar" style="padding:20px;">
  <div class="underlinetext">
       <h4>Program Schedule</h4>
 <table class="table table-striped table-bordered" >
 <thead> <th colspan="3" style="background: #666565;color:#fff;">    Program Classroom Schedule (Gurgaon)</th> </thead>
<thead ><th style="background:#fff;">Month</th> <th style="background:#fff;"> Dates</th>  <th style="background:#fff;">Location</th> </thead>
<tr><td>Apr-14</td><td>  25th - 27th</td><td> Great Lakes Campus (Gurgaon)</td></tr>
<tr><td>May-14</td><td>  24th - 25th</td><td> Great Lakes Campus (Gurgaon)</td></tr>
<tr><td>Jun-14</td><td>  27th - 29th</td><td> Great Lakes Campus (Gurgaon)</td></tr>
<tr><td>Jul-14</td><td>  26th - 27th</td><td> Great Lakes Campus (Gurgaon)</td></tr>
<tr><td>Aug-14</td><td>  30th - 31st</td><td> Great Lakes Campus (Gurgaon)</td></tr>
<tr><td>Sep-14</td><td>  26th - 28th</td><td> Great Lakes Campus (Gurgaon)</td></tr>
<tr><td>Oct-14</td><td>  25th - 26th</td><td> Great Lakes Campus (Gurgaon)</td></tr>
<tr><td>Nov-14</td><td>  28th - 30th</td><td> Great Lakes Campus (Gurgaon)</td></tr>
<tr><td>Dec-14</td><td>  27th - 28th</td><td> Great Lakes Campus (Gurgaon)</td></tr>
<tr><td>Jan-15</td><td>  23th - 25th</td><td> Great Lakes Campus (Gurgaon)</td></tr>
<tr><td>Feb-15</td><td>  21st - 22nd</td><td> Great Lakes Campus (Gurgaon)</td></tr>


  </table>  
   <table class="table table-striped table-bordered" >

<thead><th colspan="3" style="background: #666565;color:#fff;">Program Classroom Schedule (Chennai) </th>   </thead> 
<thead ><th style="background:#fff;">Month</th> <th style="background:#fff;"> Dates</th><th style="background:#fff;">  Location</th> </thead>
<tr><td>May-14 </td><td> 2nd - 6th </td><td>Great Lakes Campus (Chennai)</td></tr>
<tr><td>Jul-14</td><td>  4th - 8th</td><td> Great Lakes Campus (Chennai)</td></tr>
<tr><td>Sep-14</td><td>  5th - 9th </td><td>Great Lakes Campus (Chennai)</td></tr>
<tr><td>Nov-14  </td><td>7th - 11th </td><td> Great Lakes Campus (Chennai)</td></tr>
<tr><td>Jan-15 </td><td> 9th - 13th </td><td> Great Lakes Campus (Chennai)</td></tr>
<tr><td>Mar-15  </td><td>13th - 17th </td><td>Great Lakes Campus (Chennai)</td></tr>
</table>
  <!-- <table class="table table-striped table-bordered">
  <thead><th colspan="6" style="text-align:center;">PGP-BABI: Proposed schedule </th></thead>
  <tr><td>April 2014</td><td> 18-22 </td><td>GGN</td><td></td><td></td><td></td></tr>
 <tr><td></td><td></td><td></td><td>May 2014</td><td>02-06</td><td>CHENNAI</td></tr>
 <tr><td>June 2014</td><td> 13-17 </td><td>GGN</td><td></td><td></td><td></td></tr>
 <tr><td></td><td></td><td></td><td>July 20144</td><td>04-08</td><td>CHENNAI</td></tr>
 <tr><td>Aug 2014</td><td> 22-26 </td><td>GGN</td><td></td><td></td><td></td></tr>
 <tr><td></td><td></td><td></td><td>Sep 2014</td><td>5-9</td><td>CHENNAI</td></tr>
 <tr><td>Oct 2014</td><td> 17-21</td><td>GGN</td><td></td><td></td><td></td></tr>
 <tr><td></td><td></td><td></td><td>Nov 2014</td><td>7-11</td><td>CHENNAI</td></tr>
 <tr><td>Dec 2014</td><td> 12-16 </td><td>GGN</td><td></td><td></td><td></td></tr>
 <tr><td></td><td></td><td></td><td>Jan 2015</td><td>09-13</td><td>CHENNAI</td></tr>
 <tr><td>Feb 2015</td><td> 13-17 </td><td>GGN</td><td></td><td></td><td></td></tr>
 <tr><td></td><td></td><td></td><td>March 2015</td><td>13-17</td><td>CHENNAI</td></tr>
  <tr><td>Classroom Hours</td><td colspan="2">  240 </td></tr>
  <tr><td>Online Hours </td><td colspan="2">  250*  </td></tr>
  <tr><td colspan="3">* Including online lecures assignments,quizzes,lab sessions,etc.   </td></tr> 
  </table> -->

      
  </div> </div>
   <div class="tab-pane" id="Pedagogy" style="padding:20px;">
  <div class="underlinetext">
       <h2>Pedagogy</h2>
    <h4>  Classroom learning</h4>
  The program consists of 230 hours of classroom sessions delivered by Great Lakes faculty and industry professionals from the field of analytics. This ensures that the program imbibes Great Lakes’ academic elegance and Industry’s Business relevance, ther providing the candidates a remarkable learning experience. 
   <br>
  <h4>Online Learning Management System (LMS)</h4>
All candidates have an access to the online LMS that hosts content (classroom recording, online lectures, assignments, reading material) and live webinars to enable the candidates continue their learning during off campus. The LMS provides an innovative learning environment that encourages collaborative approach between the candidates thus paving the way for maximizing learning effectiveness and clarity.  
   <br><br>
  <h4>Experiential Learning through Virtual Lab</h4>
This program is designed to transform candidates to business ready analytics professionals through hands on experiential learning on relevant tools.  The virtual lab provides an experiential learning format and is used by  candidates for practicing exercises and assignments on software packages such as SAS, R, Tableau.    <br><br>
  <h4>Industry Perspective Lectures</h4>
This is a critical component of the program that complements and substantiates the learning with an applied orientation. The participants get the opportunity to listen to eminent speakers from leading analytics companies and assimilate the best practices discussed by them in their lectures  .   <br><br>
  <h4>Capstone Project</h4>
All candidates would be pursuing an industry project in the field of Business Analytics. The project is mentored and jointly evaluated by faculty from Great Lakes and Industry leaders. The project will be presented to the faculty board as part of the requirement for successful completion of the program. 
   <br><br>
  <h4> Program Format</h4>
This program has about 330 hours of learning comprising 230 hours of classroom learning and 100 hours of online/ off classroom. Participants would visit the campus for 5 days(including weekends and public holidays) every alternate month.  
  </div> </div>


   <div class="tab-pane" id="partners" style="padding:20px;">
  <div class="underlinetext">
       <h2> Industry Support</h2>
       <P style="float: left;padding: 0px 15px;width: 95%;text-align: justify;">A distinguishing feature of the pedagogy is the invaluable insights and mentorship that participants get from leading practitioners and senior industry executives. Organizations from which experts shall be contributing to our lectures, projects and case studies include:</p><br>
       <!--  <P style="float: left;padding: 0px 15px;width: 95%;text-align: justify;">
          <%= image_tag('hp.png')%><%= image_tag('data.png')%><%= image_tag('american.png')%><%= image_tag('cts.png')%><%= image_tag('tcs.png')%><%= image_tag('accenture.png')%><%= image_tag('ibm.png')%><%= image_tag('evalue.png')%><%= image_tag('bridge.png')%>
        </p> -->
         <!--    <table class="table">

   <tr><td><%#= image_tag("bridge_logo.png", :width=>"175", :height=>"70")%></td><td>
    <%#= image_tag("evalue_logo.png", :width=>"175", :height=>"70")%></td></tr> 
  </table>-->
  <%= image_tag("industry.png", :width=>"600") %>
  </div></div>

  </div>
  </div>
  </div>

    </div>
    <div class="tab-pane" id="messages1">
   <div class="span10" style="width:100%;">
      <div class="tabbable tabs-left" > 
      <div  style="margin-top: 40px;float: left;width: 23%;margin-right: 10px;height: 625px;
  background: url('/assets/greybandcopy.png');background-position-x: 185px;">
  <ul class="nav nav-tabs2" id="myTab1" style="">
     <li class="active"><a href="#Overview">Overview</a></li>
    <li ><a href="#Fees">Eligibility & Fees</a></li>
    <li><a href="#Process">Admission Process</a></li>
    <li><a href="#Deadlines">Deadlines</a></li>
    <li><a href="#sponsor">Sponsor an employee</a></li>
    <li><a href="#faq">FAQs</a></li>
    </ul><ul class="nav nav-tabs2" style="margin-top:-20px;">
  <li><a href="/application" >Apply Now</a></li></ul>
  </div>

  <div class="tab-content active" style="width: 75%;float: left;padding-top: 30px;">
     <div class="tab-pane active" id="Overview">
       <div class="underlinetext" style="text-align:center;">

        <%= image_tag("admission_details.png", :style => "width:650px;")%>
       </div>
     </div>
    <div class="tab-pane " id="Fees">
  <div class="aboutcompany">
      <div class="underlinetext" >
        <h2>Eligibilty & Fees</h2>
   <table class="table table-bordered table-striped"><thead style="background: #8F8888;"><tr><th>Issue of application starts from</th>
    <th>Last date of submission for first cycle</th> </tr></thead>
    <tbody>
      <tr><td>1st March 2014</td><td>7th March 2014</td></tr>
    </tbody></table>
  Candidates meeting the following conditions are eligible for pursuing the PGP-BA Program:<br>
  <ul>
  <li>Work Experience: Minimum two years of experience at the time of submitting the application
  </li><li>Education: Should at least have Bachelor’s degree in engineering or other relevant graduation such as Mathematics, Statistics, Science, etc.</li></ul>

    <h2>Gurgaon Program Fee</h2>
          The total Program fee of Rs.3.25 lacs plus service tax and can be
paid at one go or according to the following payment schedule:<br>
                Payment of Rs.50,000 at the time of acceptance of admission followed by 3 Equal Instalments 
  

    <h2>Chennai Program Fee</h2>
       
          The total Program fee of Rs.3.95 lacs plus service tax and can be
paid at one go or according to the following payment schedule:<br>
                Payment of Rs.50,000 at the time of acceptance of admission followed by 3 Equal Instalments </p>
 
  <!-- The fee for the Program is Rs 3,00,000 inclusive of Service Tax and includes the following:<br>
  <ul><li>
  Admission Fee</li><li>
  Tuition Fee</li><li>
  Learning Material</li><li>
  Lunch during days of classes
  </li></ul> -->

      </div>
  </div></div>
    <div class="tab-pane" id="Process" style="padding:20px;">
  <div class="underlinetext">
      <h2>Admission Process </h2>
  <ul>
  <li>The admission committee would shortlist candidates based on the profile and application forms
  </li>
  <li>The shortlisted candidates would then be called for interviews. Interviews may be conducted in person or over video/tele-conferencing.
  </li>
  <li>The admissions will be conducted on a rolling basis and the admission process shall be closed once the requisite number of candidates have taken admission into the Program.</li>
  </ul>
  </div>
  </div>
   <div class="tab-pane" id="Deadlines" style="padding:20px;">
  <div class="underlinetext">
       <h2>Deadlines</h2>
       <table class="table table-bordered table-striped"><thead style="background: #8F8888;"><tr><th>Event</th>
    <th>Deadline</th></tr></thead>
    <tbody>
      <tr><td>Issue of Application begins</td><td>1st March, 2014</td></tr>
     <tr><td>First cycle admissions</td><td>1st March, 2014 - 30th March, 2014</td></tr>
  <tr><td>First cycle results</td><td>8th March, 2014 - 4th April, 2014</td></tr>
  <tr><td>Batch Commencement</td><td>Gurgaon – 18th April, 2014</td></tr>
  <tr><td></td><td>Chennai – 2nd May, 2014</td></tr>
  </tbody></table>
  Admissions process is currently underway and is a rolling process wherein the candidates are interviewed as they apply and the admissions conclude as soon as the desired class size is achieved.
  </div></div>
   <div class="tab-pane" id="sponsor" style="padding:20px;">
  <div class="underlinetext">
    <h2>Sponsor an employee</h2>
        <P style="float: left;padding: 0px 15px;width: 95%;text-align: justify;">
          The Employer Sponsorship Program allows a corporate to work along with outstanding employees in grooming them for senior management positions within the company. For employers, it is a chance to finance world-class education for talented employees while encouraging them to stay and grow with the company. Employers value what the employees bring back to their organizations and are willing to sponsor them as they know that the strategies and insights, which their employees learn will be put to best use at the work place. 
              </p>
            <p style="float: left;padding: 0px 15px;width: 95%;text-align: justify;">  If you are interested in sponsoring an employee of yours or if you would like us to approach your HR head, please mail us at <b><a href="mailto:pgpba@greatlakes.edu.in" target="_top">pgpba@greatlakes.edu.in</a></b></p>
  </div></div>
   <div class="tab-pane" id="faq" style="padding:0px;">
  <div class="underlinetext">
    <h2>FAQ's</h2>
<%= render "layouts/faq" %>
           </div></div>
  </div>
  </div>
  </div>
    </div>
   </div>

          <div class="" style="width:23%;float:left;">
    <div class="left" style="margin-top: 40px;margin-left: 10px;padding-left: 10px;float: left;
  height: 760px;background: url('/assets/greyband1.png');"><table cellpadding="5" style="margin-bottom:20px;"><tr><td><%= image_tag("apply.png")%></td><td><h4><a href="/application" class="hover" >Apply Now</a></h4></td></tr></table>
      <table cellpadding="5" style="margin-bottom:20px;"><tr><td><%= image_tag("dwnld.png")%></td><td><h4><a href="#downloadpopupmodal" class="hover" role="button" data-toggle="modal">View<br> Brochure</a></h4></td></tr></table>
  <!-- <table cellpadding="5" style="margin-bottom:20px;" ><thead><a href="#programpopupmodal" role="button" data-toggle="modal"><h4>Program Overview</h4></a></thead><tr><td>
    <%#= image_tag("benifits.png", :width=>"40", :height=>"40", :style=>"max-width:40px;")%></td><td> <a href="#programpopupmodal" role="button" data-toggle="modal">Learn more about the PGPBA Program through an INFOGRAPHIC</a></td></tr></table> -->
  <table cellpadding="5" style="margin-bottom:20px;"><thead><h4>Contact Us</h4></thead><tr><td>
    <%= image_tag("contact.png")%></td><td><b>E:</b><a href="mailto:pgpba@greatlakes.edu.in" target="_top">pgpba@greatlakes.edu.in</a><br><b>T:</b>87506-48238</td></tr></table>
    
  <!-- <table cellpadding="5" ><thead><h4>FAQs</h4></thead><tr><td><img src="/assets/faq.png"></td><td>the technology and content platform at Beacon Learning.</td></tr></table> -->
    </div></div>
  </div></div></div>
  <script>
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
  $('#myTab1 a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })

  </script>

      </div>
    <%= render 'layouts/download_popup' %>

