<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PGPBA</title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
     <%= favicon_link_tag 'favicon.ico', :size => "16x16"%>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application"%>
    
      <%= render 'layouts/shim' %>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <div class="row-fluid">
  <div class="span12">

    <%= render 'layouts/header' %>
   
     <% flash.each do |key, value| %>
 <div class="span6" style="width:50%;margin: 5px 310px;text-align: center;">
    <div class="alert alert-<%= key %>"><%= value %></div>
    </div>
    <% end %>
  
	  <%= yield %>
	  <%= render 'layouts/program_popup' %>
    <%= render 'layouts/download_popup' %>
	</div>
  </div>
</div>
</body>
</html>
